body {
    font-family: "Raleway", sans-serif;
    background-color: #333333;

}
header, main, footer {
    width: 70%;
    height: 200px; /* remove later */
    border: 1px dashed blue; /* remove later */
    margin: 1em auto;   
    text-align: center;
    vertical-align: middle;
    color: white;
}

button {
    width: 100px;
    color: #013782;
    
}